.agg-order-canceled {
    text-align: center;
    font-weight: bold;
    background-color: red;
}

.agg-order-open {
    text-align: center;
    font-weight: bold;
    background-color: orange;
}

.agg-order-ready {
    text-align: center;
    font-weight: bold;
    background-color: green;
}